<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">/Applications/Eclipse.app/Contents/MacOS/ZIDE/RedBus_Automation/logs
		</Property>
	</Properties>
	<Appenders>
		<RollingFile name="rollingFile"
			fileName="${basePath}/application.log"
			filePattern="${basePath}/application.%d{dd-MMM}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
				<Policies>
					<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				</Policies>
		</RollingFile>
		<!-- Console appender configuration -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Root logger referring to console appender -->
		<Root level="info" additivity="false">
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>